//
//  Base.xcconfig
//  StockTwits
//
//  Created by Robert Rozenvasser on 3/31/19.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

APP_NAME = StockTwits
APP_BUNDLE_ID = com.clukapp.stocktwits
BUILD_VERSION = 1.0
LOGGING = YES
